body {
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

li {
    font-size: 18px;
    padding-bottom: 0.5rem;
    word-wrap: break-word;
}

article {
    max-width: max(1024px, 80vw);
}

@media (prefers-color-scheme: dark) {
    body {
        color: #ffffff;
        background-color: #202124;
    }
    a {
        color: #8ab4f8;
    }
    a:visited {
        color: #c58af9;
    }
}

.container {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}


.bibtex-wrapper {
  background-color: rgba(0, 0, 0, 0.1);
  height: 2.5em;
  overflow-y: scroll;
  cursor: pointer;
  padding: 0px 4px;
}

.bibtex-wrapper:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.bibtex-wrapper:active {
  background-color: rgba(0, 0, 0, 0.4);
}

.bibtex {
  font-size: 14px;
}
