body {
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}

li {
    font-size: 18px;
    padding-bottom: 0.5rem;
    word-wrap: break-word;
}

article {
    max-width: max(1024px, 80vw);
}