body {
  font-family: "Noto Sans KR", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.box {
  padding: 2px 0px;
  background-color: #efefef;
}

@media (prefers-color-scheme: dark) {
.box {
  padding: 2px 0px;
  background-color: rgb(45, 53, 66);
}
}

hr {
  color: #ffffff;
}

.empty {
  height: 25vh;
}